<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="edit-user-title">
      <h3>User info</h3>
    </div>
    <% if @user.errors.any? %>
      <div class="error-messages">
        <h3 class="error-message-title"><%= @user.errors.count %> error prohibited this obj from being saved:</h3>
        <% @user.errors.full_messages.each do |message| %>
          <li class="error-message-content"><%= message %></li>
        <% end %>
      </div>
    <% end %>
    <div class="edit-user-form">
      <%= form_with model: @user, url: user_path(@user), local:true do |f| %>
        <p>Name</p>
        <%= f.text_field :name, class: "edit-user-formfield form-control" %>
        <p>Image</p>
        <%= f.attachment_field :profile_image, class: "edit-user-formfield" %>
        <p>Introduction</p>
        <%= f.text_area :introduction, class: "edit-user-formfield form-control" %>
        <%= f.submit 'Update User', class: "btn btn-secondary btn-block" %>
      <% end %>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>